header {
  background-color: rgb(19, 17, 39);
  color: white;
}

.section__main-article {
  background-color: lightgray;
}

.section__nav-menu {
  background-color: grey;
}

footer {
  background-color: rgb(19, 17, 39);
  color: white;
  text-align: center;
}
